@media (max-width: 640px) {
  .ant-picker-dropdown {
    width: 95vw !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }

  .ant-picker-panel-container {
    width: 100% !important;
  }

  .ant-picker-panel {
    width: 100% !important;
  }

  .ant-picker-date-panel,
  .ant-picker-time-panel {
    width: 100% !important;
  }
  .ant-picker-time-panel-column {
    flex: 1 !important;
  }
}
